<!DOCTYPE html>
<html lang="en">
	<head>
		<link >
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

		<title>{% block title%} {% endblock %}</title>
	</head>
	<body>
		<nav class="navbar banner">
			<a class="navbar-brand" href="#">Notify</a>
			<div class="navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item {{ 'active' if homeIsActive == True }}">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item {{ 'active' if addNoteIsActive == True }}">
						<a class="nav-link" href="/add-note">Add note</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block content %} {% endblock %}
		<footer>
			<hr />
			<p class="text-center">Notify</p>
		</footer>
	</body>
</html>